version: "3.9"
 
services:

  app:

    build: .

    container_name: connect-admin

    ports:

      - "3000:3000"

    env_file:

      - .env

    depends_on:

      - db

    restart: always
 
  db:

    image: postgres:17

    container_name: connect-admin-db

    environment:

      POSTGRES_USER: user

      POSTGRES_PASSWORD: password

      POSTGRES_DB: connect_admin

    volumes:

      - postgres_data:/var/lib/postgresql/data

    ports:

      - "5432:5432"

    restart: always
 
volumes:

  postgres_data:

 
